/*
   This file contains styles for the GWT application.  
 */

body {
    font-family: Verdana,Sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#spiffyIntroText {
    width: 600px;
}

p, li {
    margin-top: 1em;
}

h2 {
    font-size: 18px;
    margin-top: 1.5em;
}

li {
    list-style: none inside none;
}

.contactName {
    font-weight: bold;
}

.email.primary {
    font-weight: bold;
}

.email {
    font-size: small;
}

.spiffy-longmessage-panel {
    margin-bottom: 1em;
}

button.spiffy-inprogress {
    width: 142px;
}